
.detalle-cardDP {

    position: relative;
    background: white;
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px;
    width: 60%;
    height: 50%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .cerrar-btnDP {

    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  

  .titulo-detalleDP {

    text-align: center;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .detalle-contenidoDP {

    display: flex;
    gap: 40px;
    margin-bottom: 24px;
  }
  
  .columna-labels p,
  .columna-valores p {
    margin: 6px 0;
  }

  .columna-labelsDP {

    font-weight: bold;
    text-align: right;
    flex: 1;
  }
  

  .columna-valoresDP {
    flex: 1;
  }
  
  .detalle-accionesDP {
    text-align: center;
  }
  
  .aceptar-btnDP {

    background-color: green;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .volver-btnDP {

    background-color: #ddd;
    color: black;
    border: none;
    margin-top: 40px;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
  }


  .crear-contenidoCP {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.form-rowCP {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  gap: 12px;
}

.form-rowCP label {
  font-weight: bold;
  text-align: right;
}

.form-rowCP input,
.form-rowCP textarea {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
